<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smsfusion">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:label="SMS Fusion Autofill"
        android:theme="@android:style/Theme.Material.NoActionBar">
        
        <receiver android:name=".SMSReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
